*.iml
.gradle/
local.properties
.idea/
build/
*.log
.externalNativeBuild/
.cxx/
*.apk
output.json
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof
